/node_modules
/public/hot
/public/storage
/public/user-uploads/*
!public/user-uploads/.htaccess
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
*.zip
.DS_Store
mix.js.map
ngrok
/storage/installed
/storage/framework/laravel-excel/
grumphp.yml
/bootstrap/cache/*
storage/reviewed
storage/fonts/installed-fonts.json

# Database backups
/db backup/
*.sql

# Temporary scripts
replace_mix.js

# Manifest files (Generated on server via Docker)
mix-manifest.json
/public/mix-manifest.json
/public/vendor/translations/mix-manifest.json